<div id="et-main-area">

    <div id="main-content">



        <article id="post-96" class="post-96 page type-page status-publish hentry">


            <div class="entry-content">
                <div id="et-boc" class="et-boc">

                    <div class="et-l et-l--post">
                        <div class="et_builder_inner_content et_pb_gutters3">
                            <div class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider">

                                <div class="et_parallax_bg_wrap">
                                    <div class="et_parallax_bg"
                                         style="background-image: url('@Url.Content("~/imgs/marketing-bg6.png")');"></div>
                                </div>


                                <div class="et_pb_row et_pb_row_0">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passth   rough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner"><h1>About Adinux</h1></div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner">
                                                <p>Don&#8217;t be afraid to lead!</p>
                                                <p>There is only one winner: The one that leads.</p>
                                                <p>After years of experience, Adinux team creates smart and creative presentations for business brands in exhibition. Every business is able to make the essence of its story tangible for its visitors in showrooms or trade shows with Adinux toolbox.</p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->

                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_1 et_section_regular">




                                <div class="et_pb_row et_pb_row_1 et_pb_gutters2">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner">
                                                <h2 style="text-align: center;">Our Approach in Adinux is Centered around Learning and Growing with Our Users</h2>
                                                <p>&nbsp;</p>
                                                <p style="text-align: center;"><span style="color: #333333;">In Adinux, our mission is to give every business the power to visualize an innovative picture of its brand, which is possible by learning from customers and their feedback during the period of an exhibition or tradeshow. We believe that a remarkable presentation and deep learning from customers&#8217; interactions with the content of the exhibitions can determine the future of industry and result in a prolonged branding besides a significant profit.</span></p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_2 et_section_regular section_has_divider et_pb_bottom_divider">




                                <div class="et_pb_row et_pb_row_2">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_center et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner"><h2>Our Awesome Team</h2></div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_3 et_pb_gutters2">
                                    <div class="et_pb_column et_pb_column_1_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_team_member et_pb_team_member_0 et_animated et_hover_enabled clearfix  et_pb_text_align_center et_pb_bg_layout_light">


                                            <div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img src="~/imgs/ahmadi.jpeg" alt="Hossein Ahmadi" sizes="(max-width: 362px) 100vw, 362px" /></div>
                                            <div class="et_pb_team_member_description">
                                                <h4 class="et_pb_module_header">Hossein Ahmadi</h4>
                                                <p class="et_pb_member_position">Founder &amp; CEO</p>
                                                <div><p>He believes in making a difference and adding value to every move he makes. He has always been a game-changer manager.<span></span></p></div>
                                                <ul class="et_pb_member_social_links"><li><a href="https://www.linkedin.com/in/hossein-ahmadi-/" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
                                            </div> <!-- .et_pb_team_member_description -->
                                        </div> <!-- .et_pb_team_member -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_team_member et_pb_team_member_1 et_animated et_hover_enabled clearfix  et_pb_text_align_center et_pb_bg_layout_light">


                                            <div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img src="~/imgs/soltani.jpeg" alt="Ali Soltani" sizes="(max-width: 402px) 100vw, 402px" /></div>
                                            <div class="et_pb_team_member_description">
                                                <h4 class="et_pb_module_header">Ali Soltani</h4>
                                                <p class="et_pb_member_position">CMO</p>
                                                <div><p>Ali, a marketing hustler, believes that marketing is the heart of the business, and he is always updated with the newest methods.</p></div>
                                                <ul class="et_pb_member_social_links"><li><a href="https://www.linkedin.com/in/alisoltani64/" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
                                            </div> <!-- .et_pb_team_member_description -->
                                        </div> <!-- .et_pb_team_member -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_team_member et_pb_team_member_2 et_animated et_hover_enabled clearfix  et_pb_text_align_center et_pb_bg_layout_light">


                                            <div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img src="~/imgs/ZEINAB.jpeg" alt="Zeinab Sobhi" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 565px, 100vw" /></div>
                                            <div class="et_pb_team_member_description">
                                                <h4 class="et_pb_module_header">Zeinab Sobhi</h4>
                                                <p class="et_pb_member_position">CTO</p>
                                                <div><p>She is a natural-born and professional programmer who can imagine every process with computer coding.</p></div>
                                                <ul class="et_pb_member_social_links"><li><a href="https://www.linkedin.com/in/zeinab-sobhi/" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
                                            </div> <!-- .et_pb_team_member_description -->
                                        </div> <!-- .et_pb_team_member -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_team_member et_pb_team_member_3 et_animated et_hover_enabled clearfix  et_pb_text_align_center et_pb_bg_layout_light">


                                            <div class="et_pb_team_member_image et-waypoint et_pb_animation_off"><img src="~/imgs/farzaneh3.jpeg" alt="Farzaneh Akbari"  sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 496px, 100vw" /></div>
                                            <div class="et_pb_team_member_description">
                                                <h4 class="et_pb_module_header">Farzaneh Akbari</h4>
                                                <p class="et_pb_member_position">CRIO</p>
                                                <div><p><span>When she decides to conduct research about a subject, you are totally sure that she covers all the details.<br /> </span></p></div>
                                                <ul class="et_pb_member_social_links"><li><a href="https://www.linkedin.com/in/farzaneh-akbari/" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
                                            </div> <!-- .et_pb_team_member_description -->
                                        </div> <!-- .et_pb_team_member -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->

                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_3 et_section_regular section_has_divider et_pb_bottom_divider">




                                <div class="et_pb_row et_pb_row_4 et_pb_gutters2">
                                    <div class="et_pb_column et_pb_column_2_3 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_image et_pb_image_0 et_animated et-waypoint">


                                            <span class="et_pb_image_wrap "><img src="~/imgs/lockup-mobile-2.png" alt="" title="" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1920px, 100vw" /></span>
                                        </div>
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner">
                                                <h2>Our Values</h2>
                                                <p style="color: #0e101a; background: transparent; margin-top: 0pt; margin-bottom: 0pt; ; font-weight: normal;"><span style="color: #0e101a; background: transparent; margin-top: 0pt; margin-bottom: 0pt;" data-preserver-spaces="true">We believe that our clients deserve special attention, so we treat them professionally. We believe in innovative and interactive value creation and strive to make our customers&#8217; businesses superior.</span></p>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_animated et_pb_toggle_item  et_pb_toggle_close">


                                            <h5 class="et_pb_toggle_title">Diligence</h5>
                                            <div class="et_pb_toggle_content clearfix"><p>We believe that hardworking along with smart working lead to MAGIC!</p></div> <!-- .et_pb_toggle_content -->
                                        </div> <!-- .et_pb_toggle --><div class="et_pb_module et_pb_toggle et_pb_toggle_1 et_animated et_pb_toggle_item  et_pb_toggle_close">


                                            <h5 class="et_pb_toggle_title">Research</h5>
                                            <div class="et_pb_toggle_content clearfix"><p>We believe in cutting-edge and technology-based value creation; therefore, it is vital for us to keep up with the latest research and use it in our products.</p></div> <!-- .et_pb_toggle_content -->
                                        </div> <!-- .et_pb_toggle --><div class="et_pb_module et_pb_toggle et_pb_toggle_2 et_animated et_pb_toggle_item  et_pb_toggle_close">


                                            <h5 class="et_pb_toggle_title">Flexibility</h5>
                                            <div class="et_pb_toggle_content clearfix"><p>We believe in delighting everyone and being empowering, courageous and transparent.</p></div> <!-- .et_pb_toggle_content -->
                                        </div> <!-- .et_pb_toggle -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->

                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_4 et_section_regular section_has_divider et_pb_bottom_divider">




                                <div class="et_pb_row et_pb_row_5 et_pb_row_fullwidth">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner"><h2>What We Do Best</h2></div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_right et_pb_module ">
                                            <a class="et_pb_button et_pb_button_0 et_hover_enabled et_pb_bg_layout_dark" href="https://www.adinux.com/" target="_blank">See what we can do for you</a>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_6 et_pb_row_fullwidth">
                                    <div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_0 et_animated  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle">&#xe075;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>Media Presentation</span></h4>

                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_1 et_animated  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle">&#xe0f0;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>Visitor Behavior Analysis</span></h4>

                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_2 et_animated  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle">&#xe072;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>AR Games</span></h4>

                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_3 et_animated  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle">&#xe074;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>Virtual Online Room</span></h4>

                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_4 et_animated  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle">&#xe07a;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>Digital Shop</span></h4>

                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_5 et_animated  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle">&#xe09b;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>Campaign Design</span></h4>

                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_6 et_animated  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon et-pb-icon-circle">&#xe086;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>E-Catalogue</span></h4>

                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_3_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_1 et_animated et-waypoint">


                                            <span class="et_pb_image_wrap has-box-shadow-overlay"><div class="box-shadow-overlay"></div><img src="~/imgs/Dashboard1.jpg" alt="" title="" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1280px, 100vw" /></span>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->

                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_5 et_section_regular">




                                <div class="et_pb_row et_pb_row_7">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner"><h1 style="text-align: center;"><strong>why Adinux is necessary in your next exhibition</strong></h1></div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_6 et_section_regular">




                                <div class="et_pb_row et_pb_row_8">
                                    <div class="et_pb_column et_pb_column_1_3 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon">&#xe05a;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>  To be measurable </span></h4>
                                                    <div class="et_pb_blurb_description"><p style="text-align: center;">Adinux gives the possibility to analysis attendee&#8217;s data for smart marketing</p></div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_blurb et_pb_blurb_8  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon">&#xe033;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>  To be memorable</span></h4>
                                                    <div class="et_pb_blurb_description"><p style="text-align: center;">Addinux makes you unique among compatitor by providing exiting interactive experience.</p></div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_blurb et_pb_blurb_9  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon">&#xe0f0;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h4 class="et_pb_module_header"><span>  To Make More Money</span></h4>
                                                    <div class="et_pb_blurb_description"><p style="text-align: center;">Adinux helps business to have a cost control and more effective program to increase ROI.</p></div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_7 et_pb_section_parallax et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
                                <div class="et_pb_top_inside_divider et-no-transition"></div>
                                <div class="et_parallax_bg_wrap">
                                    <div class="et_parallax_bg"
                                         style="background-image: url(@Url.Content("~/imgs/marketing-bg6.png"));"></div>
                                </div>


                                <div class="et_pb_row et_pb_row_9 et_pb_row_fullwidth">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner">
                                                <h3>Let’s Get Started</h3>
                                                <h2>Ready To Make a Real Change? Let&#8217;s Build this Thing Together!</h2>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
                                            <a class="et_pb_button et_pb_button_1 et_hover_enabled et_pb_bg_layout_dark" href="https://www.adinux.com/713-2/" target="_blank">Setup a Free Meeting</a>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_10">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <ul class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0 clearfix  et_pb_text_align_center et_pb_bg_layout_light">


                                            <li class='et_pb_social_media_follow_network_0 et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_0'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Facebook'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_1 et_pb_social_icon et_pb_social_network_link  et-social-twitter et_pb_social_media_follow_network_1'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Twitter'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_2 et_pb_social_icon et_pb_social_network_link  et-social-linkedin et_pb_social_media_follow_network_2'>
                                                <a href='https://www.linkedin.com/company/adinux'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on LinkedIn'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_3 et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_3'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Instagram'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_4 et_pb_social_icon et_pb_social_network_link  et-social-youtube et_pb_social_media_follow_network_4'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Youtube'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                        </ul> <!-- .et_pb_counters -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section -->
                        </div><!-- .et_builder_inner_content -->
                    </div><!-- .et-l -->


                </div><!-- #et-boc -->
            </div> <!-- .entry-content -->


        </article> <!-- .et_pb_post -->



    </div> <!-- #main-content -->


    <footer id="main-footer">

        <div class="container">
            <div id="footer-widgets" class="clearfix">
                <div class="footer-widget">
                    <div id="archives-2" class="fwidget et_pb_widget widget_archive">
                        <h4 class="title">Archives</h4>
                        <ul>
                            <li><a href='https://www.adinux.com/2020/10/'>October 2020</a></li>
                        </ul>

                    </div> <!-- end .fwidget --><div id="categories-2" class="fwidget et_pb_widget widget_categories">
                        <h4 class="title">Categories</h4>
                        <ul>
                            <li class="cat-item cat-item-1">
                                <a href="https://www.adinux.com/category/%d8%af%d8%b3%d8%aa%d9%87%e2%80%8c%d8%a8%d9%86%d8%af%db%8c-%d9%86%d8%b4%d8%af%d9%87/">دسته‌بندی نشده</a>
                            </li>
                        </ul>

                    </div> <!-- end .fwidget --><div id="meta-2" class="fwidget et_pb_widget widget_meta">
                        <h4 class="title">Meta</h4>
                        <ul>
                            <li><a rel="nofollow" href="https://www.adinux.com/wp-login.php">Log in</a></li>
                            <li><a href="https://www.adinux.com/feed/">Entries feed</a></li>
                            <li><a href="https://www.adinux.com/comments/feed/">Comments feed</a></li>

                            <li><a href="https://wordpress.org/">WordPress.org</a></li>
                        </ul>

                    </div> <!-- end .fwidget -->
                </div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget -->
            </div> <!-- #footer-widgets -->
        </div>    <!-- .container -->


        <div id="footer-bottom">
            <div class="container clearfix">
                <ul class="et-social-icons">

                    <li class="et-social-icon et-social-facebook">
                        <a href="#" class="icon">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-twitter">
                        <a href="#" class="icon">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-google-plus">
                        <a href="#" class="icon">
                            <span>Google</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-instagram">
                        <a href="#" class="icon">
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-rss">
                        <a href="https://www.adinux.com/feed/" class="icon">
                            <span>RSS</span>
                        </a>
                    </li>

                </ul><p id="footer-info">Designed by <a href="http://www.elegantthemes.com" title="Premium WordPress Themes">Elegant Themes</a> | Powered by <a href="http://www.wordpress.org">WordPress</a></p>
            </div>	<!-- .container -->
        </div>
    </footer> <!-- #main-footer -->
</div> <!-- #et-main-area -->
