<div id="et-main-area">

    <div id="main-content">



        <article id="post-356" class="post-356 page type-page status-publish hentry">


            <div class="entry-content">
                <div id="et-boc" class="et-boc">

                    <div class="et-l et-l--post">
                        <div class="et_builder_inner_content et_pb_gutters3">
                            <div class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider">

                                <div class="et_parallax_bg_wrap">
                                    <div class="et_parallax_bg"
                                         style="background-image: url('@Url.Content("~/imgs/marketing-bg8.png")');"></div>
                                </div>


                                <div class="et_pb_row et_pb_row_0">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner">
                                                <p>Hardware Solution</p>
                                                <h1>Adibox</h1>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner"><p>Adibox is a touch device package that includes a LIDAR touch device and a Microsoft Kinect to utilize our products&#8217; capabilities.</p></div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->

                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_1 et_section_regular">




                                <div class="et_pb_row et_pb_row_1">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner">
                                                <h2 style="text-align: left;"> what is Adibox?</h2>
                                                <p style="text-align: justify;">Adibox is a complementary hardware solution for businesses that require upgrading their monitors or projectors to the touchscreen for best adapting to the Adinux software package. It includes a LIDAR sensor installed on the top side of monitors or projectors&#8217; pictures. It also has a Microsoft Kinect to track users&#8217; body gestures for particular games and specific campaigns.<br /> It can be easily set up in exhibitions and trade shows. In comparison with traditional touch monitors or touch kiosks, they are more cost-effective and efficient in terms of portability and lightweight.</p>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_with_border et_pb_module et_pb_slider et_pb_slider_0 et_animated et_pb_slider_fullwidth_off et_slider_auto et_slider_speed_7000 et_slider_auto_ignore_hover">
                                            <div class="et_pb_slides">
                                                <div class="et_pb_slide et_pb_slide_0 et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slider_with_text_overlay et-pb-active-slide" data-slide-id="et_pb_slide_0">


                                                    <div class="et_pb_container clearfix">
                                                        <div class="et_pb_slider_container_inner">

                                                            <div class="et_pb_slide_description">
                                                                <div class="et_pb_text_overlay_wrapper">
                                                                    <h2 class="et_pb_slide_title">LIDAR Technology turns any display to a touch display easily</h2>
                                                                </div>

                                                            </div> <!-- .et_pb_slide_description -->
                                                        </div>
                                                    </div> <!-- .et_pb_container -->

                                                </div> <!-- .et_pb_slide -->
                                                <div class="et_pb_slide et_pb_slide_1 et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slider_with_text_overlay" data-slide-id="et_pb_slide_1">


                                                    <div class="et_pb_container clearfix">
                                                        <div class="et_pb_slider_container_inner">

                                                            <div class="et_pb_slide_description">
                                                                <div class="et_pb_text_overlay_wrapper">
                                                                    <h2 class="et_pb_slide_title">Kinect is a great tool to track body gestures</h2>
                                                                </div>

                                                            </div> <!-- .et_pb_slide_description -->
                                                        </div>
                                                    </div> <!-- .et_pb_container -->

                                                </div> <!-- .et_pb_slide -->

                                            </div> <!-- .et_pb_slides -->

                                        </div> <!-- .et_pb_slider -->

                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_specialty section_has_divider et_pb_bottom_divider et_pb_top_divider">
                                <div class="et_pb_top_inside_divider et-no-transition"></div>


                                <div class="et_pb_row">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_2    et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">

                                                <div class="et_pb_blurb_container">

                                                    <div class="et_pb_blurb_description">
                                                        <h1 style="text-align: center;"><strong>why Adibox?</strong></h1>
                                                        <p><strong><img loading="lazy" src="~/imgs/14-300x300.jpg" alt="" class="wp-image-591 alignnone size-medium" style="display: block; margin-left: auto; margin-right: auto;" width="300" height="300" /></strong></p>
                                                    </div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_3   et_pb_specialty_column  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_row_inner et_pb_row_inner_0">
                                            <div class="et_pb_column et_pb_column_4_4 et_pb_column_inner et_pb_column_inner_0 et-last-child">


                                                <div class="et_pb_module et_pb_text et_pb_text_3 et_animated  et_pb_text_align_left et_pb_bg_layout_light">


                                                    <div class="et_pb_text_inner">
                                                        <ul>
                                                            <li><span style="color: #000000;"><strong>easy-to-use</strong></span></li>
                                                            <li><span style="color: #000000;"><strong><span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="">beautiful design with robust, commercial-grade components</span></strong></span></li>
                                                            <li><span style="color: #000000;"><strong><span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="">compact dimensions </span></strong></span></li>
                                                            <li><span style="color: #000000;"><strong><span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="">easily portable</span></strong></span></li>
                                                            <li><span style="color: #000000;"><strong><span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css="">equipped with gesture-based technolog</span></strong></span><span class="thrv-advanced-inline-text tve_editable tcb-styled-list-icon-text tcb-no-delete tcb-no-save" data-css=""></span></li>
                                                        </ul>
                                                        <p>&nbsp;</p>
                                                    </div>
                                                </div> <!-- .et_pb_text -->
                                            </div> <!-- .et_pb_column -->


                                        </div> <!-- .et_pb_row_inner -->
                                    </div> <!-- .et_pb_column -->
                                </div> <!-- .et_pb_row -->
                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">




                                <div class="et_pb_row et_pb_row_2">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_center et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner">
                                                <h2>Adibox includes a LIDAR and a Microsoft Kinect sensor</h2>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
                                            <a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="">Enquire Now!</a>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_4 et_pb_section_parallax et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
                                <div class="et_pb_top_inside_divider et-no-transition"></div>
                                <div class="et_parallax_bg_wrap">
                                    <div class="et_parallax_bg"
                                         style="background-image: url('@Url.Content("~/imgs/marketing-bg8.png")');"></div>
                                </div>


                                <div class="et_pb_row et_pb_row_3 et_pb_row_fullwidth">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner">
                                                <p><strong>Let’s Get Started</strong></p>
                                                <h2>Ready To Make a Real Change with Adibox? Let&#8217;s Build this Thing Together!</h2>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
                                            <a class="et_pb_button et_pb_button_1 et_hover_enabled et_pb_bg_layout_dark" href="">Setup A Free Consultation</a>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_4">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <ul class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0 clearfix  et_pb_text_align_center et_pb_bg_layout_light">


                                            <li class='et_pb_social_media_follow_network_0 et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_0'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Facebook'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_1 et_pb_social_icon et_pb_social_network_link  et-social-twitter et_pb_social_media_follow_network_1'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Twitter'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_2 et_pb_social_icon et_pb_social_network_link  et-social-linkedin et_pb_social_media_follow_network_2'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on LinkedIn'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_3 et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_3'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Instagram'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_4 et_pb_social_icon et_pb_social_network_link  et-social-dribbble et_pb_social_media_follow_network_4'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on dribbble'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_5 et_pb_social_icon et_pb_social_network_link  et-social-youtube et_pb_social_media_follow_network_5'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Youtube'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                        </ul> <!-- .et_pb_counters -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section -->
                        </div><!-- .et_builder_inner_content -->
                    </div><!-- .et-l -->


                </div><!-- #et-boc -->
            </div> <!-- .entry-content -->


        </article> <!-- .et_pb_post -->



    </div> <!-- #main-content -->


    <footer id="main-footer">

        <div class="container">
            <div id="footer-widgets" class="clearfix">
                <div class="footer-widget">
                    <div id="archives-2" class="fwidget et_pb_widget widget_archive">
                        <h4 class="title">Archives</h4>
                        <ul>
                            <li><a href='https://www.adinux.com/2020/10/'>October 2020</a></li>
                        </ul>

                    </div> <!-- end .fwidget --><div id="categories-2" class="fwidget et_pb_widget widget_categories">
                        <h4 class="title">Categories</h4>
                        <ul>
                            <li class="cat-item cat-item-1">
                                <a href="https://www.adinux.com/category/%d8%af%d8%b3%d8%aa%d9%87%e2%80%8c%d8%a8%d9%86%d8%af%db%8c-%d9%86%d8%b4%d8%af%d9%87/">دسته‌بندی نشده</a>
                            </li>
                        </ul>

                    </div> <!-- end .fwidget --><div id="meta-2" class="fwidget et_pb_widget widget_meta">
                        <h4 class="title">Meta</h4>
                        <ul>
                            <li><a rel="nofollow" href="https://www.adinux.com/wp-login.php">Log in</a></li>
                            <li><a href="https://www.adinux.com/feed/">Entries feed</a></li>
                            <li><a href="https://www.adinux.com/comments/feed/">Comments feed</a></li>

                            <li><a href="https://wordpress.org/">WordPress.org</a></li>
                        </ul>

                    </div> <!-- end .fwidget -->
                </div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget -->
            </div> <!-- #footer-widgets -->
        </div>    <!-- .container -->


        <div id="footer-bottom">
            <div class="container clearfix">
                <ul class="et-social-icons">

                    <li class="et-social-icon et-social-facebook">
                        <a href="#" class="icon">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-twitter">
                        <a href="#" class="icon">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-google-plus">
                        <a href="#" class="icon">
                            <span>Google</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-instagram">
                        <a href="#" class="icon">
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-rss">
                        <a href="https://www.adinux.com/feed/" class="icon">
                            <span>RSS</span>
                        </a>
                    </li>

                </ul><p id="footer-info">Designed by <a href="http://www.elegantthemes.com" title="Premium WordPress Themes">Elegant Themes</a> | Powered by <a href="http://www.wordpress.org">WordPress</a></p>
            </div>	<!-- .container -->
        </div>
    </footer> <!-- #main-footer -->
</div> <!-- #et-main-area -->
