<div id="et-main-area">

    <div id="main-content">



        <article id="post-683" class="post-683 page type-page status-publish hentry">


            <div class="entry-content">
                <div id="et-boc" class="et-boc">

                    <div class="et-l et-l--post">
                        <div class="et_builder_inner_content et_pb_gutters3">
                            <div class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider">

                                <div class="et_parallax_bg_wrap">
                                    <div class="et_parallax_bg"
                                         style="background-image: url('@Url.Content("~/imgs/marketing-bg8.png")');"></div>
                                </div>


                                <div class="et_pb_row et_pb_row_0">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner">
                                                <h3>digital interactive shop</h3>
                                                <h1>Adishop</h1>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner"><p>it is so simple to create an interactive retail experience and integrate a payment terminal to allow attendee to select products,customize the purchase and pay for favourite products all in one place.</p></div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->

                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_1 et_section_regular section_has_divider et_pb_bottom_divider">




                                <div class="et_pb_row et_pb_row_1">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner">
                                                <h2>Want to Speed Event ROI?</h2>
                                                <p>An Interactive Retail Experience allows users to browse the entire product catalogue, and they can customize the colour and packing options before placing an order, at which point a receipt is printed, which is taken to the counter to complete the purchase.<br /> Product information is pulled in via API from the Client’s website and stored locally in a database.</p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_0 et_animated et-waypoint">


                                            <span class="et_pb_image_wrap has-box-shadow-overlay"><div class="box-shadow-overlay"></div><img src="~/imgs/IMG_5595.jpg" alt="" title="" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1299px, 100vw" /></span>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->

                                <div class="et_pb_bottom_inside_divider et-no-transition"></div>
                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">




                                <div class="et_pb_row et_pb_row_2">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_center et_pb_bg_layout_light">


                                            <div class="et_pb_text_inner"><h2>purchasing in an event Can Be Overwhelming. The Good News Is, You Have Options.</h2></div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_3">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon">&#xe0f9;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h3 class="et_pb_module_header"><span>Customized design</span></h3>
                                                    <div class="et_pb_blurb_description"><p>another form of purchasing or pre-purchasing products in an event with the best customized design.</p></div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_animated et_pb_toggle_item  et_pb_toggle_close">


                                            <h5 class="et_pb_toggle_title">Learn More</h5>
                                            <div class="et_pb_toggle_content clearfix">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mi nunc, facilisis sed erat sed, interdum suscipit nisl. Donec ut ligula sed dolor accumsan placerat. Ut sed felis vitae augue condimentum viverra. Praesent condimentum magna sit amet dui interdum sodales. Ut tincidunt ipsum leo, nec hendrerit odio fermentum at. Cras sit amet nibh lacus. Ut a risus id libero pellentesque consectetur. Vestibulum ornare pulvinar laoreet. Cras non scelerisque tortor, et rutrum sapien.</p>
                                                <p>Sed at lacus vitae augue egestas pulvinar ultricies nec nisi. In aliquet velit sed eros facilisis, in tempus eros imperdiet. Aenean mollis urna aliquet orci placerat porttitor. Aenean tincidunt urna sed faucibus sodales. Donec sit amet eros eros. Duis volutpat arcu at efficitur molestie. Pellentesque gravida dolor risus, a sollicitudin arcu euismod sit amet.</p>
                                                <p>Curabitur dapibus at felis quis interdum. Etiam at elementum ligula. Aliquam efficitur ante eget viverra molestie. Donec rutrum tellus a ex accumsan varius. Etiam aliquam libero et finibus finibus. Cras vel nunc eget metus fringilla consectetur. Aenean sed lacinia turpis. Nullam porttitor lobortis mauris at blandit. Quisque aliquam diam felis, at fermentum metus dignissim in. Mauris sagittis dolor sed venenatis scelerisque.
                                            </div> <!-- .et_pb_toggle_content -->
                                        </div> <!-- .et_pb_toggle --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon">&#xe08b;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h3 class="et_pb_module_header"><span>External API Feeds</span></h3>
                                                    <div class="et_pb_blurb_description"><p>Connect REST API feeds to your interactive experience to pull in Products, Images, Video, Text which is Perfect to use in Retail experiences and Database solutions.</p></div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_toggle et_pb_toggle_1 et_animated et_pb_toggle_item  et_pb_toggle_close">


                                            <h5 class="et_pb_toggle_title">Learn More</h5>
                                            <div class="et_pb_toggle_content clearfix"></div> <!-- .et_pb_toggle_content -->
                                        </div> <!-- .et_pb_toggle -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon">&#xe059;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h3 class="et_pb_module_header"><span>Pos terminal</span></h3>
                                                    <div class="et_pb_blurb_description"><p>connect POS terminal to touch kiosk to make a reliable,easy experience of purchasing.</p></div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_toggle et_pb_toggle_2 et_animated et_pb_toggle_item  et_pb_toggle_close">


                                            <h5 class="et_pb_toggle_title">Learn More</h5>
                                            <div class="et_pb_toggle_content clearfix"></div> <!-- .et_pb_toggle_content -->
                                        </div> <!-- .et_pb_toggle --><div class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_center  et_pb_blurb_position_left et_pb_bg_layout_light">


                                            <div class="et_pb_blurb_content">
                                                <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_off et-pb-icon">&#xe0f2;</span></span></div>
                                                <div class="et_pb_blurb_container">
                                                    <h3 class="et_pb_module_header"><span>Audience Analytics</span></h3>
                                                    <div class="et_pb_blurb_description"><p>Based on statistical data acquired, it is possible to realize favourite items of target market and put smart promotions.</p></div>
                                                </div>
                                            </div> <!-- .et_pb_blurb_content -->
                                        </div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_toggle et_pb_toggle_3 et_animated et_pb_toggle_item  et_pb_toggle_close">


                                            <h5 class="et_pb_toggle_title">Learn More</h5>
                                            <div class="et_pb_toggle_content clearfix"></div> <!-- .et_pb_toggle_content -->
                                        </div> <!-- .et_pb_toggle -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_3 et_pb_section_parallax et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
                                <div class="et_pb_top_inside_divider et-no-transition"></div>
                                <div class="et_parallax_bg_wrap">
                                    <div class="et_parallax_bg"
                                         style="background-image: url('@Url.Content("~/imgs/marketing-bg8.png")');"></div>
                                </div>


                                <div class="et_pb_row et_pb_row_4 et_pb_row_fullwidth">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_center et_pb_bg_layout_dark">


                                            <div class="et_pb_text_inner">
                                                <h3>Let’s Get Started</h3>
                                                <h2>Ready To Make a Real Change? Let&#8217;s Build this Thing Together!</h2>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
                                            <a class="et_pb_button et_pb_button_0 et_hover_enabled et_pb_bg_layout_dark" href="">Setup A Free Consultation</a>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_5">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <ul class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_0 clearfix  et_pb_text_align_center et_pb_bg_layout_light">


                                            <li class='et_pb_social_media_follow_network_0 et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_0'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Facebook'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_1 et_pb_social_icon et_pb_social_network_link  et-social-twitter et_pb_social_media_follow_network_1'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Twitter'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_2 et_pb_social_icon et_pb_social_network_link  et-social-linkedin et_pb_social_media_follow_network_2'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on LinkedIn'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_3 et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_3'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Instagram'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_4 et_pb_social_icon et_pb_social_network_link  et-social-dribbble et_pb_social_media_follow_network_4'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on dribbble'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                            <li class='et_pb_social_media_follow_network_5 et_pb_social_icon et_pb_social_network_link  et-social-youtube et_pb_social_media_follow_network_5'>
                                                <a href='#'
                                                   class='icon et_pb_with_border'
                                                   title='Follow on Youtube'
                                                   target="_blank">
                                                    <span class='et_pb_social_media_follow_network_name'
                                                          aria-hidden='true'>Follow</span>
                                                </a>
                                            </li>
                                        </ul> <!-- .et_pb_counters -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section -->
                        </div><!-- .et_builder_inner_content -->
                    </div><!-- .et-l -->


                </div><!-- #et-boc -->
            </div> <!-- .entry-content -->


        </article> <!-- .et_pb_post -->



    </div> <!-- #main-content -->


    <footer id="main-footer">

        <div class="container">
            <div id="footer-widgets" class="clearfix">
                <div class="footer-widget">
                    <div id="archives-2" class="fwidget et_pb_widget widget_archive">
                        <h4 class="title">Archives</h4>
                        <ul>
                            <li><a href='https://www.adinux.com/2020/10/'>October 2020</a></li>
                        </ul>

                    </div> <!-- end .fwidget --><div id="categories-2" class="fwidget et_pb_widget widget_categories">
                        <h4 class="title">Categories</h4>
                        <ul>
                            <li class="cat-item cat-item-1">
                                <a href="https://www.adinux.com/category/%d8%af%d8%b3%d8%aa%d9%87%e2%80%8c%d8%a8%d9%86%d8%af%db%8c-%d9%86%d8%b4%d8%af%d9%87/">دسته‌بندی نشده</a>
                            </li>
                        </ul>

                    </div> <!-- end .fwidget --><div id="meta-2" class="fwidget et_pb_widget widget_meta">
                        <h4 class="title">Meta</h4>
                        <ul>
                            <li><a rel="nofollow" href="https://www.adinux.com/wp-login.php">Log in</a></li>
                            <li><a href="https://www.adinux.com/feed/">Entries feed</a></li>
                            <li><a href="https://www.adinux.com/comments/feed/">Comments feed</a></li>

                            <li><a href="https://wordpress.org/">WordPress.org</a></li>
                        </ul>

                    </div> <!-- end .fwidget -->
                </div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget --><div class="footer-widget"></div> <!-- end .footer-widget -->
            </div> <!-- #footer-widgets -->
        </div>    <!-- .container -->


        <div id="footer-bottom">
            <div class="container clearfix">
                <ul class="et-social-icons">

                    <li class="et-social-icon et-social-facebook">
                        <a href="#" class="icon">
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-twitter">
                        <a href="#" class="icon">
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-google-plus">
                        <a href="#" class="icon">
                            <span>Google</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-instagram">
                        <a href="#" class="icon">
                            <span>Instagram</span>
                        </a>
                    </li>
                    <li class="et-social-icon et-social-rss">
                        <a href="https://www.adinux.com/feed/" class="icon">
                            <span>RSS</span>
                        </a>
                    </li>

                </ul><p id="footer-info">Designed by <a href="http://www.elegantthemes.com" title="Premium WordPress Themes">Elegant Themes</a> | Powered by <a href="http://www.wordpress.org">WordPress</a></p>
            </div>	<!-- .container -->
        </div>
    </footer> <!-- #main-footer -->
</div> <!-- #et-main-area -->
